.SocialContainer {
  
 justify-content: center;
 margin-left: 10px;
}

/* Let's style the wrapper in such away that, 
  it should always be at the center of the browser */
.wrapper {
  margin-top: 5%;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
    and float them to left and set its border and border-radius.
   */
.wrapper ul li {
  cursor: pointer;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
.wrapper ul li .fa {
  color: #eeeeee;
  padding: 25px;
  transition: all 0.5s ease;

 
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
    to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;

}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
  background-color: #eeeeee;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
  background-color: #eeeeee;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.github {
  border: 5px solid #000000;
  box-shadow: 0 0 15px black;
  transition: all 0.5s ease;
  background-color: #eeeeee;
}

.wrapper ul li:hover .fa-github {
  color: black;
  text-shadow: 0 0 15px black;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.linkedin {
  border: 5px solid blue;
  box-shadow: 0 0 15px blue;
  transition: all 0.5s ease;
  background-color: #eeeeee;
}

.wrapper ul li:hover .fa-linkedin {
  color: blue;
  text-shadow: 0 0 15px blue;
  transition: all 0.5s ease;
}

/* media queries */

@media screen and (max-width: 640px) {
  .wrapper {
    width: 350px;
  }
  .wrapper ul li {
    margin-top: 10px;
  }
  .wrapper ul li.google {
    margin-left: 60px;
  }
}

@media screen and (max-width: 340px) {
  .wrapper {
    width: 150px;
  }
  .wrapper ul li {
    margin: 15px;
  }
  .wrapper ul li.google {
    margin-left: 15px;
  }
}

.Tarjetas {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 60px;
}
.photo {
  width: 190px;
  height: 50%;
  border-radius: 50%;
}
.ig {
  color: grey;
  margin-bottom: 20px;
}
.name {
  color: #000000;
  font-weight: 700;
}
.section-title-social{
  font-weight: 700;
  color:  #eeeeee;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid  #00adb5;
 
}