
.section3 {
 color: #87ACA3;

 
}

.section-title h2 {
    font-weight: 700;
    color:  #eeeeee;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid  #00adb5;
    text-align: center;
  
}
.section-title {
    padding-bottom: 45px;
}
.section-title p {
    margin: 0;
    font-size: 18px;
}

/* Resume Box
---------------------*/
.resume-box {
  background: #eeeeee;
  box-shadow: 0 0 1.25rem #00adb5;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  margin: 10px;
}
.resume-box ul {
  margin: 0;
  padding: 30px 20px;
  list-style: none;
  text-align: left;
}
.resume-box li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 30px;
}
.resume-box li:last-child {
  margin-bottom: 0;
}
.resume-box li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  border-left: 1px dashed #222831;
  bottom: 0;
}
.resume-box .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  color:#222831;
  line-height: 40px;
  background: #ffffff;
  text-align: center;
  z-index: 1;
  border: 1px dashed #222831;
  border-radius: 50%;
}
.resume-box .time {
  background: #222831 ;
  color: #eeeeee;
  font-size: 10px;
  padding: 2px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
}
.resume-box h5 {
  font-weight: 700;
  color: #222831 ;
  font-size: 16px;
 
}
.resume-box p {
  margin: 0;
}

.resume-box li:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    border-left: 1px dashed #222831;
    bottom: 0;
}